@charset "utf-8";

/* 조직도페이지 내용영역 */

/* .content_area{width: 100%;} */
#content .content_area{width: 1400px; margin: 0 auto; 
    /* border: 1px solid red; */
}
#content .content_area .position1{margin-bottom: 100px; margin-top: 100px;}

#content .content_area .rank dl{width: 270px; border-radius: 10px; border: 2px solid #CCDADE;
        background: #f8f8f8; margin: 0 auto; padding: 70px 10px 10px 20px; text-align: center;} 
#content .content_area .rank dl dt{position:relative; text-align: center; font-size: 1.5rem; 
    font-weight: bold; margin-bottom: 20px;}
#content .content_area .rank dl dt .po_icon{display: block; position: absolute; top: -120px; left: 50%; transform: translateX(-50%);
        width: 100px; height: 100px; border-radius: 50%;  background: #CCDADE;}
#content .content_area .rank dl dt .po_icon i{font-size: 50px; margin-top: 20px; text-align: center;}
#content .content_area .rank dl dd{font-size: 1.25rem; margin-bottom: 10px;}
#content .content_area .rank dl dd i{color: #666;}
#content .content_area .rank dl dd span{background: #FBF3E1; border-radius: 5px; font-weight: bold; margin-right: 10px;}

#content .content_area .position2{display: flex; justify-content: center; gap: 100px; margin-bottom: 100px; 
    /* border: 1px solid red; */
}



#content .content_area .position3{height: 500px; display: flex; justify-content: space-between; margin-bottom: 200px;
    /* border: 1px solid green; */
}
#content .content_area .position3 ul{display: flex; justify-content: space-between; gap: 15px; 
    /* border: 1px solid orange; */
}

#content .content_area .position3 ul li{position: relative; transition:all 0.3s ease;}
#content .content_area .position3 ul .poList.active .person {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
    }
#content .content_area .position3 ul .poList.active .task{max-height:1000px;
    transition: max-height 0.5s ease-out;}

#content .content_area .position3 ul li .person{width: 160px; height: 160px; border-radius: 50%; background: #CCDADE; 
    text-align: center;} 
#content .content_area .position3 ul li .person .user{position: relative;}
#content .content_area .position3 ul li .person .user i{font-size: 60px; color: #f5f5f5; margin-top: 15px;}
#content .content_area .position3 ul li .person span{font-size: 1.25rem; font-weight: bold;}

#content .content_area .position3 ul li .person>span:nth-of-type(2){position: absolute; top: 45px; left: 50%; 
    transform: translateX(-50%);}

#content .content_area .position3 ul li .person p{font-size: 1.13rem; margin-top: 10px;}
#content .content_area .position3 ul li .person p i{color: #666; font-size: 17px;}
#content .content_area .position3 ul li .task{width: 160px; box-sizing: border-box; border-radius: 0 0 80px 80px; 
    border: 2px solid #CCDADE; background: #f8f8f8; 
    padding: 0 10px; text-align: justify;
    position: absolute; top: 80px; left: 0; z-index: -1;
    max-height: 0; overflow: hidden; transition: max-height 0.5s ease-out;}
#content .content_area .position3 ul li .task dt{font-size: 1.13rem; font-weight: bold; margin-top: 85px;}
#content .content_area .position3 ul li .task dd{font-size: 1.1rem; margin-top: 5px;}
#content .content_area .position3 ul li .task dd:nth-last-of-type(1){margin-bottom: 40px;}



.task_btn {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 5px;
    border: 1px solid #CCDADE;;
    border-radius: 50%;
    font-size: 1.5rem;
    background: #f8f8f8;
    }

    .task_btn:focus {
    outline: 0;
    }

    .task_icon.close {
    display: none;
    }

    .poList.active .task_icon.close {
    display: block;
    }

    .poList.active .task_icon.open {
    display: none;
    }