@charset "utf-8";

/* 주요연혁페이지 내용영역 */

/* .content_area{width: 100%;} */
#content .content_area{width: 1400px; margin: 0 auto; 
    /* border: 1px solid red; */
}
/* #content .content_area>div:nth-of-type(2){background: url(../images/content3/his_line.svg); background-repeat: no-repeat; 
    background-size: auto; background-position: 150px 0;} */
#content .content_area>div:nth-of-type(2){position: relative;}
#content .content_area .history_line{position: absolute; top: 0; left: 150px;}
#content .content_area .spider{position: absolute; top: 100px; left: 100px;}

#content .content_area .slideMenu.navOn{position: fixed; top:0; left:0; width: 100%;z-index: 50;
    background: #fff;border-bottom: 1px solid #ccc;}

#content .content_area .slideMenu ul{display:flex; justify-content: center; list-style: none; 
    /* border: 1px solid orange; */
}
#content .content_area .slideMenu ul li{width: 20%; text-align: center;}
#content .content_area .slideMenu ul li a{padding: 20px 0; font-size: 2.5em;}
#content .content_area .slideMenu ul li a.spy{ color: #53bcbe;}
#content .content_area .slideMenu ul li a:hover{color: #53bcbe;}

#content .content_area ul dt{font-size: 1.5rem; margin-top: 50px; font-weight: bold;}
#content .content_area ul dd{font-size: 1.25rem; margin-top: 10px;}

#content .content_area .his90s{
    /* background: pink; */
     width: 1050px; padding: 100px 50px; margin-left: 150px; border-radius: 0 0 0 50px; 
    /* border-left: 3px solid #999;  */
    /* border-bottom: 3px solid #999;  */
    box-sizing: border-box;}
#content .content_area .his90s span{font-size: 2.25rem; position: absolute;top: 0; left: -200px;}

#content .content_area .his00s{width: 1050px; padding: 100px 50px; margin-left: 200px; border-radius: 0 50px 50px 0; 
    /* border-right: 3px solid #999; border-top: 3px solid #999; border-bottom: 3px solid #999;  */
    box-sizing: border-box;}
#content .content_area .his00s span{font-size: 2.25rem; position: absolute;top: 0; right: -200px;}
#content .content_area .his00s ul dl{text-align: right;}

#content .content_area .his10s{width: 1050px; padding: 100px 50px; margin-left: 150px; 
    margin-bottom: 200px; border-radius: 50px 0 0 0; 
    /* border-left: 3px solid #999; border-top: 3px solid #999;  */
    box-sizing: border-box;}
#content .content_area .his10s span{font-size: 2.25rem; position: absolute;top: 0; left: -200px;}